@tailwind base;

* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --transition-duration: 500ms;
}

.menu-icon {
  transition: transform var(--transition-duration);
}

.menu-icon-top {
  stroke-dasharray: 40 160;
  transition: stroke-dashoffset var(--transition-duration);
}

.menu-icon-middle {
  transform-origin: 50%;
  transition: transform var(--transition-duration);
}

.menu-icon-bottom {
  stroke-dasharray: 40 85;
  transition: stroke-dashoffset var(--transition-duration);
}

.menu-open {
  transform: rotate(45deg);
}

.menu-open .menu-icon-top,
.menu-open .menu-icon-bottom {
  stroke-dashoffset: -64px;
}

.menu-open .menu-icon-middle {
  transform: rotate(90deg);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --success: 120 39% 49%;
    --success-foreground: 0 0% 98%;

    --info: 209 100% 50%;
    --info-foreground: 0 0% 100%;

    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 188 18% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 188 18% 15.9%;
    --muted-foreground: 188 5% 75.9%;

    --accent: 188 18% 15.9%;
    --accent-foreground: 0 0% 98%;
    --border: 188 18% 15.9%;
    --input: 188 18% 15.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --success: 120 39% 47.5%;
    --success-foreground: 0 0% 98%;

    --info: 209 100% 55%;
    --info-foreground: 0 0% 100%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border-radius: 10px;
  scrollbar-gutter: stable;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100 116 139 / 1);
  border-radius: 10px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139 / 0.5);
}
